# Schedule file, with the timestamps for a band change.
# Times have to be in ascending order
# [hour]:[minutes]=[band]
# 13:10=20M   means switch to 20M on 13:10
08:00=20M
12:00=10M
14:00=20M
18:00=40M
