# Schedule file, with the timestamps for a band change.
# Times have to be in ascending order
# [hour]:[minutes]=[band]
# 13:10=20M   means switch to 20M on 13:10
07:00=20M
11:00=10M
11:50=20M
12:10=10M
13:00=20M
17:00=40M
